.position-block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 550px;
}


.wrapper {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-variant: tabular-nums;
}

.list {
  margin-right: 40px;
}

.list__item {
  display: inline-block;
  width: 7.5em;
  height: 7.5em;
  margin: 0 .7em;
  fill: none;
}

.list--dasharray-anim .list__item {
  stroke-dashoffset: 500;
  animation: dasharray 6s infinite ease-in;
}

@keyframes dasharray {
  100% {
    stroke-dashoffset: -500;
  }
}

.info__title {
  font-size: 2em;
  font-weight: lighter;
}

.info__btn {
  padding: 0 24px;
  border-radius: 100px;
  font-size: 1em;
  display: inline-block;
  height: 40px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #2f54eb;
  color: #2f54eb;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  outline: none;
}

.info__btn:hover {
  color: rgba(255, 255, 255, 1);
  background: #2f54eb;
  transition: 500ms;
}

.info__text {
  padding: 2% 10%;
}